@font-face {
    font-family: 'Helvetica Roman', sans-serif;
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
}

@font-face {
    font-family: 'Helvetica Bold', sans-serif;
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf');
}